<div class="modal fade" id="certificateModal-{{ cert_request.pk }}" tabindex="-1" aria-labelledby="certificateModalTitle-{{ cert_request.pk }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificateModalTitle-{{ cert_request.pk }}">Заявка #{{ cert_request.pk }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body p-0">
        {% include "cabinet/includes/certificate_detail_content.html" %}
      </div>
      <div class="modal-footer justify-content-between">
        <a href="{% url 'cabinet-certificate-detail' cert_request.pk %}" class="btn btn-link btn-sm px-0">Открыть отдельной страницей</a>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
